/* style.css */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background: #f6f8fa;
}

.admin-wrapper {
    display: flex;
    min-height: 100vh;
    height: 100%;
    background: #f6f8fa;
}

.sidebar {
    width: 240px;
    background-color: #1f2937;
    color: white;
    padding: 20px;
    margin-right: 25px;
}

.sidebar h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px 0;
    cursor: pointer;
    color: #cbd5e1;
}

.sidebar li.active {
    font-weight: bold;
    color: white;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #f6f8fa;
    min-height: 100vh;
    overflow: hidden;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-actions button {
    margin-left: 10px;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.export-btn {
    background: #6b7280;
    color: white;
}

.new-address-btn {
    background: #3b82f6;
    color: white;
}

.actions-bar {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.dropdown-btn,
.search-btn {
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}

.search-input {
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    flex: 1;
}

.table-container {
    margin-top: 10px;
    overflow-x: auto;
    overflow-y: auto;
    flex-grow: 1;
    width: 100%;
    max-height: calc(100vh - 125px); /* адаптируй под реальную высоту заголовка/поиска */
}
.loading_text{
    padding: 60px;
    font-size: 24px;
}

table {
    border-collapse: collapse;
    width: 100%;
    min-width: 900px; /* даст горизонтальный скролл при множестве колонок */
    background: white;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
    text-align: left;
    white-space: nowrap; /* предотвращает перенос текста и улучшает скролл */
}

th:first-child,
td:first-child {
    width: 40px;
}

.icon-cell .icon {
    margin-right: 6px;
    cursor: pointer;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.pagination-controls span,
.pagination-controls select {
    margin-left: 5px;
    cursor: pointer;
}

.pagination-controls span.active {
    background: #3b82f6;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
}

.pagination-controls span.disabled {
    color: #9ca3af;
    cursor: default;
}