body {
  margin: 0;
  font-family: Arial, sans-serif;
  width: 100vw;
  height: 100vh;
}

input, button {
  font-size: 14px;
}

#root{
  width: 100vw;
  height: 100vh;
}

.main_app{
  width: 100vw;
  height: 100vh;
}

.rd3t-label__title{
  background-color: #fff!important;
}

.main_text{
  width: 400px;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 9999999;
  left: calc( 100vw );
  top: 0;
  transform: translateX(-100%);

  p{
    margin: 5px;
    font-size: 14px;
  }
}